@define-color color-alpha #1B1B3A;
@define-color color-beta #693668;
@define-color color-gamma #A74482;
@define-color color-delta #F84AA7;
@define-color color-epsilon #FF3562;

@define-color primary #C0C0C0;
@define-color primary-light #F9F9F9;
@define-color primary-dark #000000;

* {
   font-family: W95FA;
   font-size: 14px;
   color: @primary-dark;

   padding: 0;
   margin: 0;
   min-height: 0;
}

window#waybar {
   background-color: @primary;
   border-top: 2px solid @primary-light;
}

label.module:first-child {
   margin-left: 2px;
}

label.module:last-child {
   margin-right: 2px;
}

box.module {}

/* center module */
.modules-center .module {}

/* all modules exept workspaces */
.modules-center .module,
.modules-right .module {
   background-color: @primary;
   margin-top: 4px;
   margin-bottom: 4px;

   padding-left: 4px;
   padding-right: 4px;
   padding-bottom: 0px;
   padding-top: 2px;

   border: 2px solid;
   border-top-color: @primary-dark;
   border-left-color: @primary-dark;
   border-bottom-color: @primary-light;
   border-right-color: @primary-light;
}

.modules-left {
   background-color: @primary;
   margin: 4px;

   border: 2px solid;
   border-top-color: @primary-dark;
   border-left-color: @primary-dark;
   border-bottom-color: @primary-light;
   border-right-color: @primary-light;
}

#workspaces button.active,
#workspaces button.active:hover {
   padding-top: 2px;
   border: 2px solid;
   border-radius: 0px;
   border-top-color: @primary-light;
   border-left-color: @primary-light;
   border-bottom-color: @primary-dark;
   border-right-color: @primary-dark;
}

#workspaces button,
#workspaces button:hover {
   padding-top: 2px;
   background-color: @primary;
   box-shadow: none;
   text-shadow: none;
   background: none;
   transition: none;

   border: 2px solid;
   border-radius: 0px;
   border-color: transparent;
}

/*
#mode,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd
#window,
#workspaces,
#clock,
#battery,
#battery.charging,
#battery.plugged,
#battery.critical:not(.charging),
#cpu,
#memory,
#disk,
#backlight,
#network,
#network.disconnected,
#pulseaudio,
#pulseaudio.muted,
#wireplumber,
#wireplumber.muted,
#custom-media,
#custom-media.custom-spotify,
#custom-media.custom-vlc,
#temperature,
#temperature.critical,
#tray,
#tray > .passive,
#tray > .needs-attention,
#idle_inhibitor,
#idle_inhibitor.activated,
#mpd,
#mpd.disconnected,
#mpd.stopped,
#mpd.paused,
#language,
#keyboard-state,
#keyboard-state > label,
#keyboard-state > label.locked,
#scratchpad,
#scratchpad.empty{}
*/
