@define-color color-purple-light #CDB4DB;
@define-color color-purple #9764B4;
@define-color color-purple-dark #56336B;
@define-color color-pink-light #FFC8DD;
@define-color color-pink-dark #FFAFCC;
@define-color color-blue-light #BDE0FE;
@define-color color-blue-dark #A2D2FF;

* {
    font-family: W95FA;
    font-size: 14px;

    padding: 0;
    margin: 0;
    min-height: 0;
}

window#waybar {
    background-color: @color-purple;
    border-top: 2px solid @color-purple-light;
}

label.module:first-child {
   margin-left: 2px;
}
label.module:last-child {
   margin-right: 2px;
}

box.module {
}
/* center module */
.modules-center .module {}

/* all modules exept workspaces */
.modules-center .module, .modules-right .module{
   background-color: @color-purple;
   margin-top: 4px;
   margin-bottom: 4px;

   padding-left: 4px;
   padding-right: 4px;
   padding-bottom: 0px;
   padding-top: 2px;

   border: 2px solid;
   border-top-color: @color-purple-dark;
   border-left-color: @color-purple-dark;
   border-bottom-color: @color-purple-light;
   border-right-color: @color-purple-light;
}

.modules-left{
   background-color: @color-purple;
   margin: 4px;

   border: 2px solid;
   border-top-color: @color-purple-dark;
   border-left-color: @color-purple-dark;
   border-bottom-color: @color-purple-light;
   border-right-color: @color-purple-light;
}

#workspaces button.active, #workspaces button.active:hover {
   padding-top: 2px;
   border: 2px solid;
   border-radius: 0px;
   border-top-color: @color-purple-light;
   border-left-color: @color-purple-light;
   border-bottom-color: @color-purple-dark;
   border-right-color: @color-purple-dark;
}
#workspaces button, #workspaces button:hover {
   padding-top: 2px;
   background-color: @color-purple;
   box-shadow: none;
   text-shadow: none;
   background: none;
   transition: none;

   border: 2px solid;
   border-radius: 0px;
   border-color: transparent;
}

#mode,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd
#window,
#workspaces,
#clock,
#battery,
#battery.charging,
#battery.plugged,
#battery.critical:not(.charging),
#cpu,
#memory,
#disk,
#backlight,
#network,
#network.disconnected,
#pulseaudio,
#pulseaudio.muted,
#wireplumber,
#wireplumber.muted,
#custom-media,
#custom-media.custom-spotify,
#custom-media.custom-vlc,
#temperature,
#temperature.critical,
#tray,
#tray > .passive,
#tray > .needs-attention,
#idle_inhibitor,
#idle_inhibitor.activated,
#mpd,
#mpd.disconnected,
#mpd.stopped,
#mpd.paused,
#language,
#keyboard-state,
#keyboard-state > label,
#keyboard-state > label.locked,
#scratchpad,
#scratchpad.empty{}
